
.infocard{
    background-color: rgb(226, 214, 214, 0.8);
    border: 3px solid white;
    width: 160px;
    height: 50px;
    position: relative;
    bottom: 90px;
    padding: 10px;
    display: block;
    z-index: 10;
    left: 15px;
    
    }
.linkblock{
    display: flex;
    justify-content: flex-start;
}

.icon{
    margin: 5px;
    z-index: 10;
    }
h6{
    padding: 0;
    margin: 0;
    font-size: 20px;
    margin-left: 10px;
    z-index: 10;
    }

.cardcrew{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    }
.photocard{
    justify-self: center;
}
            
.photoCrew{
    width: 260px;
    height: 320px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    object-fit: cover;
    }